@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

.translate-gpu {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body, * {
  cursor: none;
}

@font-face {
  font-family: 'Nohemi';
  src: url('/Fonts/Nohemi-Medium-BF6438cc581a509 - Copy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.family {
  font-family: 'Nohemi', sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

